/* 芜湖 */

body,ul,p,h1,h2,h3,h4,dl,dd,form,input,textarea,select
{padding:0; margin:0; font-family:arial;}
li { list-style:none;}
img { border:none;}
a {text-decoration:none;}
a:hover{text-decoration:underline;}

body { background:#fff url(../images/body_bg.png) repeat-x;}

#top { width:960px ; height:30px; margin:0 auto;} /*居中设置*/

.top_menu
{ 
    float:left;
}
.top_menu li
{ 
    float:left;
    background: url(../images/top_ico.png) no-repeat right 13px; /*点的位置*/
    font-size:13px;  /*字的大小*/
    line-height:30px;  /*字的高度*/
}
.top_menu li a
{ 
    color:#c0c0c0;
    margin-right: 10px;
    margin-left:10px;
}
.top_menu a:hover
{
    color:#fff;
}
.top_menu .no_dot
{
    background: none;
    padding:0;
    margin:0;
}

.top_bar
{
    float:right;
}
.top_bar li
{ 
  float:left; 
  height:30px;
  color:#fff; 
  font-weight:bold;
  font-size:13px; 
  line-height:30px; 
  margin-left:-30px;
}
.top_bar .phone
{ 
    background:url(../images/top_ico.png) no-repeat 0-20px;
    padding:0 45px 0 30px;
    margin-right:-50px;
}
.top_bar .help
{ 
    background:url(../images/top_ico.png) no-repeat 0-54px;
    padding:0 28px 0 38px;
    margin-left:30px;
}
.top_bar .help a
{ 
    color:#fff;
}
.space1>a>img
{
    height: 12px;
    margin:12px 18px 0 32px;
}
.space2>a>img
{
    height:12px;
    margin:8px -8px 0 38px; /*上 右 下 左*/
}

#header
{
    width:960px;
    height:100px;
    margin:-1px auto;
    position: relative;
    background:url(../images/header_bg.png) no-repeat;
}
#shopping
{
    width:260px;
    height:96px;
    background:url(../images/shopping_bg.png) no-repeat;
    position: relative;
}
#shopping a
{
    display:block;
    width:114px;
    height:28px;
    background:url(../images/shopping_bg.png) no-repeat 0 -96px;
    position: absolute;
    top:63px;
    left:104px;
    color:#ffc200;
    font-size:15px;
    text-decoration: none;
    font-weight:bold;
    text-align:center;
    line-height:23px ;
}
#shopping a:hover
{
    color:#ffc388;
}
#shopping p
{
    color:#f7f7f7;
    font-size:20px;
    font-family: Arial;
    padding:30px 0 0 84px;
}

#header h1
{
    width:240px;
    position: absolute;
    top:0;
    left:50%;
    margin-left: -119px;
}

#header .search
{
    top:34px;
    right:0;
    
}

.search
{
    width:292px;
    height:31px;
    background:url(../images/search.png) no-repeat;
    position: absolute;
}
.search .text
{
    position: absolute;
    top:0;
    left:20px;
    width:230px;
    height: 30px;
    background:none;
    border:none;
    font-size:13px;
    color:#666;
    outline:none;
}
.search .btn
{
    position: absolute;
    top:0;
    right:0;
    width: 42px;
    height: 30px;
    background:none;
    border:none;
    outline:none;
}

#guidance
{
    height:36px;
    width: 960px;
    margin: 0 auto;
    padding-top:8px;
}
#guidance li
{
    float:left;
    height: 28px;
    margin-right: 2px;
}
#guidance a
{
    float:left;
    height: 28px;
    text-decoration: none;
    color:#fff;
    font-size:15px;
    font-family: Arial;
    line-height: 28px;
}
#guidance strong
{
    float:left;
    height: 28px;
    font-weight: normal;
}
#guidance span
{
    float:left;
    height: 28px;
    padding:0 16px;
}

#guidance a:hover,#guidance .active a
{
    background:url(../images/guidance_active_bg.png) repeat-x 0 -56px;
}
#guidance a:hover strong,#guidance .active strong
{
    background:url(../images/guidance_active_bg.png) no-repeat;
}
#guidance a:hover span,#guidance .active span
{
    background:url(../images/guidance_active_bg.png) no-repeat right -28px;
}

#content 
{
    width:1000px;
    margin:24px  auto 0;
    background:url(../images/content_bg.png) repeat-y -1000px 0;
    
}
#content_top 
{
    width: 1000px;
    background:url(../images/content_bg.png) no-repeat;
}
#content_bottom 
{
    width: 1000px;
    background:url(../images/content_bg.png) no-repeat -2000px bottom;
    padding-top: 10px;
}

#ad
{
    width: 940px;
    height: 300px;
    position: relative;
    margin:0 auto;
}
#ad ul
{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
#ad li
{
    position: absolute;
    top:0;
    left:0;
}
#ad h2
{
    position: absolute;
    left:0;
    bottom:10px;
    z-index: 3;    /*层级 数字越大层级越高*/
    width: 268px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color:#ffc600;
}
#ad p
{
    position: absolute;
    left:268px;
    bottom:7px;
    z-index: 3;
    color:#fcc;
    font-size: 13px;
    line-height: 16px;
    width: 630px;
}
#ad .bg
{
    width: 940px;
    height:52px;
    background: #000;
    opacity: 0.8;   /*不透明度为80%*/
    position: absolute;
    bottom:0;
    left:0;
    z-index: 2;
}

#main
{
    width: 942px;
    margin:0 auto;
    padding-top: 30px;
}
#side
{
    width: 210px;
    float: left;
}
#wrap
{
    width: 706px;
    float: right;
}

.clear
{
    zoom:1;     /*若浮动的区域没有设置宽就必须加上，否则不用*/
}
.clear::after
{
    content:'';
    display:block;
    clear:both; /*清除浮动*/
}

.module_menu
{
    
}
.module_menu h2
{
    height: 29px;
    background: url(../images/module_menu_bg.png) repeat-x 0 -58px;
    font-size:15px;
    color:#fff;
    line-height: 28px;
    text-align: center;
    margin-bottom: 1px;
}
.module_menu strong
{
    display: block;
    height: 29px;
    background: url(../images/module_menu_bg.png) no-repeat;
}
.module_menu span
{
    display: block;
    height: 29px;
    background: url(../images/module_menu_bg.png) no-repeat right -29px;
}

.list
{
    background: url(../images/list_bg.png) repeat-y;
    margin-bottom: 12px;
}
.list ul
{
    background: url(../images/list_bg.png) no-repeat -210px bottom;
    padding: 18px 8px 15px;
}
.list li
{
    
}
.list a
{
    display: block;
    height: 27;
    line-height: 27px;
    border-bottom: 1px solid #fff;
    color: #434343;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding-left: 32px;
}
.list a:hover
{
    color: #b20e00;
    border-bottom: 1px solid #b20e00;
    background: #fae191;
}

.module_join
{
    width: 210px;
    background: url(../images/list_bg.png) repeat-y -630px 0;
}
.module_join_t
{
    background: url(../images/list_bg.png) no-repeat -420px 0;
}
.module_join_b
{
    background: url(../images/list_bg.png) no-repeat -840px bottom;
}

.join_form
{
    width: 180px;
    margin:0 auto;
}
.join_form p
{
    font-size: 15px;
    color: #666;
    line-height: 18px;
    padding: 12px 0 12px 0;
}
.join_form .text
{
    width: 175px;
    height: 25px;
    line-height: 25px;
    background: #fff;
    border-top: 1px solid #9c9c9c;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #c0c0c0;
    outline:none;
    margin-bottom: 6px;
}
.join_form .btn
{
    width: 88px;
    height: 32px;
    border: none;
    font-size: 15px;
    color:#fff;
    font-weight: bold; 
    background: url(../images/shopping_bg.png) no-repeat 0 -145px;  
    margin:0 auto;
    display: block;
    outline:none;
}

.join_list
{
    width: 192px;
    margin:0 auto;
    background: url(../images/shopping_bg.png) no-repeat 10px -170px;
}
.join_list li
{
    border-top: 1px solid #fff;
    padding-left: 62px;
    color: #434343;
    font-size: 13px;
}

.space1
{
    height: 45px;
    line-height: 45px;
}
.space2
{
    height: 38px;
    padding-top: 5px;
    line-height: 18px;
}
.space3
{
    height: 45px;
    padding-top: 5px;
    line-height: 18px;
}

#payment
{
    margin:33px 0 0 18px;
}

.sort
{
    height: 20px;
}
.sort dl
{
    float: left;
}
.sort dt
{
    float: left;
    color:#747474;
    font-weight: bold;
    font-size: 12px;
    padding-right: 2px;
}
.sort dd
{
    float: left;
    position: relative;
    width: 108px;
    height: 18px;
}
.sort h2
{
    width: 108px;
    height: 17px;
    border: 1px solid #ccc ;
    font-size: 12px;
    color:#747474;
    font-weight: normal;
    text-indent: 5px;
}
.sort a
{
    position: absolute;
    width: 19px;
    height: 19px;
    top:0;
    left: 90px;
    background: url(../images/shopping_bg.png) 0 -362px;
    z-index: 2;
}
.sort a:hover
{
    background: url(../images/shopping_bg.png) -19px -362px;
}
/* .sort ul
{
    position: absolute;
    top: 18px;
    left:0;
    width: 108px;
    border: 1px solid #000;
    background: #fff;
    z-index: 1;
} */
.sort li
{
    font-size: 12px;
    line-height: 20px;
    text-indent: 5px;
}
.sort p
{
    float: right;
    color:#747474;
}
.sort p strong
{
    color:#999;
}
.sort p span
{
    padding: 5px;
}
.color_style
{
    color:#b20e00;
}

.pic_list
{
    width: 706px;
    overflow: hidden;
}
.pic_list ul
{
    display: block;
    width: 736px;
}
.pic_list h2
{
    font-size: 18px;
    color:#666;
    font-weight: bold;
    height:56px;
    line-height: 56px;
}
.pic_list h3
{
    font-size: 15px;
    color:#666;
    height:26px;
    line-height: 30px;
    overflow: hidden;
}
.pic_list li
{
    float: left;
    width: 182px;
    height: 200px;
}
.pic_list a
{
    display:block;
    width: 154px;
    height: 114px;
    border: 1px solid #c6c6c6;
}
.pic_list a:hover
{
    border: 1px solid #663;
}
.pic_list p
{
    font-size: 13px;
    color:#333;
}
.pic_list span
{
    
}

.page
{
    text-align: center;
    border-bottom: 1px solid #cdcdc8;
    padding-bottom: 5px;
}
.page a
{
    display: inline-block;
    height: 20px;
    color: #b20e00;
    text-decoration: none;
    padding: 0 8px;
    font-size: 12px;
    line-height: 20px;
}
.page a:hover
{
    color: #fff;
    background: #b20e00;
}
.page .active
{
    color: #fff;
    background: #b20e00;
}
.page span
{
    font-family: '宋体';
}

.scroll_list h2
{
    font-size: 18px;
    color:#666;
    font-weight: bold;
    height:56px;
    line-height: 56px;
}
.scroll_wrap
{

}
.scroll_wrap
{
    height: 196px;
    background: url(../images/scroll_bg.gif) repeat-x 0 -486px;
}
.scroll_wrap_l
{
    height: 196px;
    background: url(../images/scroll_bg.gif) no-repeat 0 -86px;
}
.scroll_wrap_r
{
    height: 196px;
    background: url(../images/scroll_bg.gif) no-repeat right -286px;
    position: relative;
}

.prev,.next
{
    height: 43px;
    width: 35px;
    position: absolute;
    top:70px ;
}
.prev
{
    background: url(../images/scroll_bg.gif) no-repeat ;
    left:2px;
}
.next
{
    background: url(../images/scroll_bg.gif) no-repeat 0 -43px;
    right:2px;
}

.list_wrap
{
    width: 615px;
    margin:0 auto;
    padding-top: 32px;
}
.list_wrap ul
{
    height: 150px;
}
.list_wrap li
{
    width: 205px;
    float: left;
}
.list_wrap a,.list_wrap p
{
    width: 145px;
    margin:0 auto;
}
.list_wrap a
{
    display: block;
    height: 100px;
}
.list_wrap p
{
    font-size: 12px;
    color:#660000;
    text-align: center;
    line-height: 14px;
    padding-top: 10px;
}

#footer
{
    height: 1498px;
    position: relative;
    background:#fff url(../images/footer_bg.png) repeat-x;
}
.support_info
{
    width: 960px;
    height: 1498px;
    float: left;
    margin:0 auto;
    position: absolute;
}
.support_info li
{
    float: left;
    color:#cbcbcb;
    font-size: 14px;
    line-height:58px;
    font-weight: bold;
    padding-left:350px;
}
.support_info li:nth-child(2)
{
    padding-left: 94px;
}
.space3>a>img
{
    height: 50px;
    margin: -54px 0px 38px -64px;
}
.space4>a>img
{
    height:38px;
    margin:-56px 0 40px -58px; /*上 右 下 左*/
}